@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.amenities-container {
    text-align: center;
    padding: 20px;
    animation: fadeIn 0.5s ease forwards;
  }

  .amenities-container h1{
    color: maroon;
    font-size: 2rem;
  }
  
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px; 
  }
  
  .image-item {
    flex: 1 0 21%; 
    max-width: 200px; 
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .image-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    object-fit: cover;
  }
  
  @media screen and (max-width: 600px){
    .amenities-container h1{
    font-size: 2rem;
    }
  }