.footer-section-padding{
    padding: 0.5rem 0.5rem;    
}

.footer{
    background-color:maroon;
    text-align: center;
    color: white;
    z-index:10;
}

.footer-heading{
    padding-bottom:12px;
}

.footer-line{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: nowrap;
}

.devi-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:34%;
}

.footer-image {
    width: 1fr;
    max-height: 20rem;
    margin: 0 auto;
    text-align: center;
    align-self: center;
    justify-self: center;
}

iframe{
    align-self: center;
    justify-self: center;
}

.socials{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:8px;
}

.socials img{
    width:50px;
    height:50px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    width: 33%;
}

.loc-footer-link{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.loc-content{
    display: flex;
}

.location-image{
    width: 40px;
}

.location-text{
    text-align: left;
    line-height: 1.2rem;
    font-size: 0.9rem;
    display: block;
    max-width: 100%;
    align-self: center;
    
}

.footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
}


.call-image{
    width: 25px;
}

.call-text{
    line-height: 1rem;
    font-size: 0.9rem;
}

.mail-image{
    width: 40px;
}


.footer-link a:hover {
    text-decoration: underline;
}

.footer-below {
    padding-top: 15px;
    font-size: 0.9em;
}

@media screen and (max-width: 789px){
    
    .footer-links{
        flex-direction: column;
        line-height:3px;  
        gap:0px;   
        margin-right: 0px;
    }

    .footer-line{
        flex-direction: column;
    }

    .devi-content{
        order:1;
        width:100%;
    }

    .footer-links{
        order:2;
        width:100%;
    }

    .loc-footer-link{
        order:3;
        max-width:100%;
        width:100%;
    }
}