.footer-section-padding{
    padding: 0.5rem 0.5rem;
}

.footer{
    background-color:maroon;
    text-align: center;
    color: white;
    z-index:10;
}

.footer-heading{
    padding-bottom:12px;
}

.footer-image{
    width:10rem;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap:10rem;
    margin-right: 4rem;
}

.footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-image{
    width: 25px;
}

.call-text{
    line-height: 1rem;
    font-size: 0.9rem;
}

.mail-image{
    width: 40px;
}

.location-image{
    width: 40px;
}
.location-text{
    text-align: justify;
    line-height: 0.5rem;
    font-size: 13px;;
}

.footer-link a:hover {
    text-decoration: underline;
}

.footer-below {
    padding-top: 15px;
    font-size: 0.9em;
}

@media screen and (max-width: 961px){
    
    .footer-links{
        flex-direction: column;
        line-height:3px;  
        gap:0px;   
        margin-right: 0px;
    }
}