 .home{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.first-line{
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  flex-wrap:nowrap;
  justify-content: space-around;
  top:0%;
}

.left-side-container{
  width:33%;
  display: flex;
  justify-content: center;
  height:13rem;
}

.left-side {
  background-color: white;
  box-shadow: 0 4px 8px rgba(128, 0, 0, 0.2);
  border: 2px solid maroon;
  text-align: center;
  padding-top:1rem;
  padding-bottom:1rem;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width:70%;
}

.left-side:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(128, 0, 0, 0.3);
}

.left-side h2 {
  color: maroon;
  padding: 0.3rem;
  font-family: 'Georgia', serif;
}

.left-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:50%;
}

.left-side .malayalam-content{
  font-size: 1rem;;
}

.left-side p {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  color: #333;
  margin: 0.5rem 0;
}

.left-side img{
  width:80%;
  height:auto;
  display:flex
}

.right-side{  
  width:30%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.image-flex{
  display:flex;
  flex-direction: column;
  align-self: center;
  width: 34%;
}

.image-flex img {
  display: block;   
  width:100%;
}

.slogam{
  border-radius: 12px;
  text-align: center;
  font-size: 15px;
  font-weight: 2px;
  color:black;
  background-color:#f9f9f9;
  padding:4px 4px;
  transition: box-shadow 0.3s ease,transform 0.3s ease;
  cursor: pointer;
  border: 2px solid transparent;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slogam:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(128, 0, 0, 0.3);
}

.slogam p{
  font-weight: bold;
  font-size: 0.75rem;
  color: maroon;
  word-spacing: 6px;
}

.gallery-container{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attukal-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.attukal-video video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.hidden{
  opacity: 0;
}

.image-gallery-section {
  display: flex;
  flex-wrap: wrap;
  overflow:hidden;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
  border: 8px solid maroon;
  border-radius: 10px;
  width: 68.75em;
  margin-bottom: 30px
  /* background-color: rgba(128, 0, 0, 0.2); */
}
.gallery-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 27px;
  font-weight: bold;
  color:maroon;
}
.image-card {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 1);
  transition: transform 0.3s;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  background-color: rgba(128, 0, 0, 0.);
  transition: opacity 0.3s;
}

.image-card:hover {
  cursor:pointer;

  transform: scale(1.05);
}

.image-card:hover img {
  opacity: 1;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-wrap: wrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-card:hover .image-overlay {
  opacity: 1;
}

.hidden {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.animate {
  opacity: 1;
}
.book-now-container{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.book-now-btn{
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgb(183,0,0);
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-bottom: 5px;
}
.book-now-btn:hover{
  background-color: rgb(150,0,0);
}

.animate-imp-vazhipad{
  animation: slideInFromLeft 1s ease-out forwards;
}

.amenities {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: maroon;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width:90%;
}

.animate-amenities {
  animation: slideInFromRight 1s ease-out forwards;
}

.hidden{
  opacity: 0;
  transition: opacity 1s ease-out;  
}


.amenities-gallery{
  width:30%;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amenities-text {
  max-width: 400px;
  text-align:right;
  margin-left: 1.5rem;;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  flex: 1;
  text-align: justify;
}


.awards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 2rem;
  background-color: rgba(128, 0, 0, 0.2);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  box-sizing:border-box;
  border: 8px solid maroon
  
}
.animate-awards{
  animation: slideInFromLeft 1s ease-out forwards;
}
.award-image {
  width: 30%;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.award-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.awards-content {
  max-width: 60%;
  margin-left: 1.5rem;
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
}
.awards h4{
  font-size: 1.5rem
}

@media (max-width: 961px) {
  .first-line{
    width:100%;
    justify-content: center;
    flex-direction:column;
    gap:1rem;
  }

  .image {
    max-width: 100%; 
  }

  .slogam{
    margin:10px;
  }

  .gallery h2{
    font-size: 1.5rem;
  }
  
  .amenities {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%
  }

  .amenities-text {
    margin-top: 1rem;
    text-align: left;
  }

  .gallery{
    height:25rem;
    width:30rem;
  }

  .attukal-video {
    padding: 1rem 0.5rem;
  }

  .amenities-gallery{
    margin-bottom: 0;
    height:30%;
    width:60%
  }

  .awards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
  }

  .award-image {
    width: 80%;
    margin-bottom: 1.5rem;
  }

  .awards-content {
    max-width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .image-flex {
    order: 1; 
    width:60%
  }

  .right-side {
    order: 2;
    flex-direction: row;
    gap:20px;
    width:80%;
    
  }

  .left-side-container {
    order: 3;
    width:80%;
    height: fit-content;
  }
}


@media screen and (max-width: 600px) {
  .image {
    max-width: 100%; 
  }

  .slogam{
    margin:10px;
  }

  .gallery{
    width:100%
  }

  .gallery h2{
    font-size: 1.5rem;
  }
  .amenities-text {
    font-size: 0.9rem;
  }

  .amenities-gallery{
    margin-bottom: 0;
    height:30%;
    width: 90%
  }
  .awards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
  }

  .award-image {
    width: 80%;
    margin-bottom: 1.5rem;
  }

  .awards-content {
    max-width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .right-side{
    flex-direction: column;
    width: 50%;
  }  
} 

/* ---------------------- */

@media (min-width: 768px) and (max-width: 1023px) {
  .image-card {
      width: 150px;
      height: 150px;
  }
  .image-gallery-section {
    flex-direction: column;
    align-items: center;
}



}



/* Mobile devices */
@media (max-width: 767px) {
  .image-gallery-section {
      flex-direction: row;
      align-items: center;
      max-width: 100%;
  }
  
  .image-card {
      width: 100%;
      height: auto;
  }

  .image-card img {
      height: auto;
  }

  .gallery-heading {
      font-size: 20px;
  }
}

/* Smaller mobile devices */
@media (max-width: 480px) {
  .image-overlay {
      padding: 5px;
      font-size: 12px;
  }

  .image-card {
      width: 100%;
  }

  .gallery-heading {
      font-size: 18px;
  }

  .read-more-btn {
      font-size: 14px;
      padding: 8px 16px;
  }
}

.marquee-container {
  max-width: 100%;
  overflow: hidden;
  background-color: #ffff;
  padding: 10px 0;
  margin: 20px 0;
  border: 5px double maroon;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 45s linear infinite;
  font-size: 18px;
  color: #333;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
