
.active {
    background-color: rgb(84, 0, 0);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: maroon;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 10;
    font-size: 1.2rem;
}

.left-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

nav .title {
    font-size: 1.5rem;
    margin-left: 0px;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-align: left;
}

.language-selector {
    position: relative;
    display: flex;
    /* margin-left: 1rem; */
}

.language-btn {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: maroon;
    padding: 0.5rem;
    padding-top: 1.25rem;
    
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.language-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.language-dropdown {
    display: none;
    position: absolute;
    background-color: maroon;
    min-width: 160px;
    z-index: 1;
    right: 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.language-dropdown button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    background-color: maroon;
    cursor: pointer;
}

.language-dropdown button:hover {
    background-color: rgb(183, 0, 0);
}

.language-selector:hover .language-dropdown {
    display: block;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    cursor: pointer;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
    display: block;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
    background-color: rgb(183, 0, 0);
}


@media (max-width: 768px) {
    nav .menu {
        display: block;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }

    .lang-btn {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .left-section {
        width: 100%;
        justify-content: space-between;
    }

    nav .title {
        flex: 1;
        text-align: center;
    }
}

@media (max-width: 480px) {
    nav .title {
        font-size: 1.2rem;
    }

    .home-icon {
        width: 25px;
        height: 25px;
    }

    .lang-btn button {
        padding: 5px;
        margin: 0 3px;
        width: auto;
        flex: 1;
    }
}
