.container-upadevas {
  max-width: 100%;
  padding: 1rem 1rem;
  margin: 0 auto;
}

.heading-upadevas {
  padding: 1rem 0;
  font-size: 2.5rem;
  text-align: center;
  color: maroon;
}

.image-name-up {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
  color: maroon; 
}

.swiper_container {
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem; 
  flex-direction: column;
  margin-bottom: 40px;
}

.swiper-slide img {
  max-width: 50%;  
  object-fit: contain; 
  margin: 0 auto;     
  display: block;  
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}


@media (max-width: 961px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }

  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }

  .heading-upadevas{
    font-size: 1.5rem;
  }

  .swiper-slide img {
    max-width:100%;
  }
}

@media (max-width: 480px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }

  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }

  .swiper_container {
    height: auto; /* Adjust height for smaller screens */
  }
  .swiper-slide {
    width: 20rem !important; /* Reduced width for smaller screens */
    height: auto !important; /* Remove fixed height */
    margin-bottom: 20px; /* Adjust margin for smaller screens */
  }
  .swiper-slide img {
    width: 100%;
  }
  .image-name-up {
    font-size: 0.8rem; /* Adjust font size for smaller screens */
    margin-top: 5px; /* Adjust margin for smaller screens */
  }
}
